


   .setborder {
    text-align: center;
    height: 100%;
    width: 100%;
    }
    
    div.heading_name {
        display: inline-block;
        text-align: center;
        width: 36%;
        background-color: #FFFFFF;
        box-shadow: 0px 5px 5px 5px #C0C0C0;
    }
    body
{
    background-color : rgb(224,218,218);

}
#activ
{
    font-size: 12pt;
    height: 40px;
    width: 87%;
    margin-top: 15px;
}
.heading
{
    margin-top: 20px;
    font-size: 20px;
}

    .add {
        background-color: #000000; 
        border: none;
        color: white;
        width: 90%;
        height: 30px;
        margin: 10px 0px 10px 0px;
        padding: 5px 25px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
    }
    
    .div1 {
      width: 90%;
      margin: 0 auto;
    }
    
    .movement {
      width: 80%;
      display: inline-block;
      cursor: pointer;
    }
    
    .movement a {
      display: inline-block;
      color: black;
      text-align: center;
      border-style: solid;
      border-color: pink;
      border-width: 1px;
      padding: 5px;
      width: 28%;
      font-size: 13px;
      font-family: "sans-serif";
    }
    
    .movement a:hover {
        border-color: black;
    }
    
    .movement a.Active {
        border-color: black;
        text-decoration: underline;
    }
    
    .div2 {
        text-align: left;
        margin-top: 5px;
        display: inline-block;
        width: 80%;
    }
    
    .remaining {
        font-family: "sans-serif";
        font-weight: bold;
        color: black;
    }
    
    .new-task {
        display: inline-block;
        width: 100%;
    }
    
    .container {
      position: relative;
      font-family: "sans-serif";
      padding-left: 37px;
      padding-top: 8px;
      justify-content: center;
      cursor: pointer;
      font-size: 10px;
    }
    
    .container input {
      height: 0;
      width: 0;
    }
    
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      border-style: solid;
      border-width: 2px;
      height: 25px;
      width: 25px;
      background-color: #FFFFFF;
      
    }
    
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;

    }

    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
    
    .container input:checked ~ .checkmark:after {
      display: block;
    }
    
    .container .checkmark:after {
      left: 9px;
      top: 2px;
      width: 5px;
      height: 13px;
      border: solid black;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
    
    .text {
      font-family: "sans-serif";
    }
    
    .box {
        height: 30px;
        width: 30px;
    }
    
    .button_group {
        text-align: center;
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 25px;
    }
    
    .edit_button {
        background-color: #FFFFFF; 
        width: 49%;
        height: 30px;
        text-align: center;
        margin-right: 2px;
        outline-style: solid;
        outline-color: black;
        outline-width: thin;
        font-size: 20px; 
        cursor: pointer;
    }
    
    .delete_button {
        width: 49%;
        height: 30px;
        text-align: center;
        margin-left: 2px;
        background-color: rgba(190, 28, 28, 0.993);
        color: white;
        outline-style: solid;
        outline-color: black;
        outline-width: thin;
        font-size: 20px;
        cursor: pointer;
    }
    
    #all
{   
    position: relative;
    left:-10px;
    width:30%;
    padding: 10px 30px;
    background-color: #FFFFFF;
    border: 1px solid #000;
    font-size: medium;
    cursor: pointer;

}

#activ2
{
    position: relative;
    left:-5px;
    width:30%;
    padding: 10px 30px;
    background-color: white;
    border: 1px solid #000;
    font-size: medium;
    cursor: pointer;

}

#comp
{
    position: relative;
    left:0px;
    width:38%;
    padding: 10px 30px;
    background-color: white;
    border: 1px solid #000;
    font-size: medium;
    cursor: pointer;

}

.add:active {
    transform: translateY(4px);
}
.all:active {
    transform: translateY(4px);
}
.activ2:active {
    transform: translateY(4px);
}
.comp:active {
    transform: translateY(4px);
}