body
{
    text-align: center;
}
#heading
{
    /* position: relative;
    left: 300px; */
    font-size: 30px;
}

#activ
{
    /* position:relative;
    left:200px; */
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid #000;
    margin-bottom: 5px;

}

#add
{
    /* position: relative;
    left:200px; */

    width: 40%;
    background-color: #000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
}

#all
{
    /* position: relative;
    left:200px; */
    width:10%;
    padding: 10px 30px;


}

#activ2
{
    /* position: relative;
    left:250px; */
    width:10%;
    padding: 10px 30px;
}

#comp
{
    /* position: relative;
    left:320px; */
    width:10%;
    padding: 10px 30px;
}

#remain
{
    position: relative;
    right:150px;
}

#check1
{
    position: relative;
    right:90px;
    /* font-size: 350px; */
    margin-bottom: 20px;
    transform: scale(3);
    margin-top: 20px;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.03px;

}

.items
{
    position: relative;
    right:150px;
    font-size: 18px;
}

#edit
{
    position: relative;
    left:150px;
    width:15%;
    padding: 10px 30px;
    background-color: #FFFFFF;
    outline-style: solid;
    outline-color: black;
    outline-width: thin;

    
}

#delete
{
    position: relative;
    left:150px;
    width:15%;
    padding: 10px 30px;
    background-color: rgba(190, 28, 28, 0.993);
    color: white;

    
}



